<%- include ('templates/header'); -%>

		<nav>
           <a href="/"><strong>Home</strong></a>
           <a href="/myRecipes">Saved</a>
           <a href="/createRecipe">Create Recipe</a>
           <a href="/recipeList"><strong>Recipe List</strong></a>
           <a href="/logout">Log Out</a>
        </nav>
        <hr>

        <h1 class="jumbotron"> All Recipes in Database </h1>
    	<hr>
    	
    	<%recipeInfo.forEach(function(recipe){%>
    	
            <figure id="results">
                
            <img src='<%=recipe.image%>' width='200' id="images">
            <h5>Recipe Name: <%=recipe.name%></h5>
            <h5>Calories: <%=recipe.calories%></h5>
            
            <h5>Ingredients: <%=recipe.ingredientName%></h5>
            
            <h5>Number of Servings: <%=recipe.numberOfServings%></h5>
            <h5>Health Label: <%=recipe.healthLabel%></h5>
            
            <br>
            
            <form action="/myRecipes/<%=recipe.recipeId%>/add" method="GET">
            
			<button class='btn btn-primary btn-block'>Save Recipe</button>
			
			</form>
            
            </figure>
            
        <%});%>
        
             
    </body>
		
<%- include ('templates/footer'); -%>